langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-classic

langchain-groq
sentence-transformers

rank-bm25
unstructured[pdf]
pypdf

fastapi
uvicorn
redis
python-dotenv

ragas
datasets

chromadb